cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.4
cloudpickle==2.2.1
colorama==0.4.6
commonmark==0.9.1
Farama-Notifications==0.0.4
filelock==3.12.2
fsspec==2023.6.0
google-api-core==2.11.1
google-auth==2.21.0
google-cloud-core==2.3.3
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
gymnasium==0.28.1
h5py==3.9.0
huggingface-hub==0.16.3
idna==3.4
jax-jumpy==1.0.0
Jinja2==3.1.2
MarkupSafe==2.1.3
minari @ git+https://github.com/Farama-Foundation/Minari@59683a1c92804ecd0775022404a47c8357869ac3
mpmath==1.3.0
networkx==3.1
numpy==1.25.0
packaging==23.1
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
Pygments==2.15.1
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
rich==12.6.0
rsa==4.9
safetensors==0.3.1
shellingham==1.5.0.post1
six==1.16.0
sympy==1.12
tokenizers==0.13.3
torch==2.0.1
tqdm==4.65.0
transformers==4.30.2
typer==0.7.0
typing_extensions==4.4.0
urllib3==1.26.16
